<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #9ccc2c;">
<div class="w-100">
  <div class="container">
    <div class="row pt-1 pb-1">
      <div class="col">
        <a href="/"><img src="./Assets/images/logo.jpeg" alt="logo_description_here" width="100" height="70"></a>
      </div>
        <div class="col pt-3">
          <div class="d-flex flex-row-reverse">
            <ul class="navbar-nav ml-auto">

              <!-- HOME PAGE -->
              <% if(title=="Home"){%>
                <li class="nav-item active">
              <%}else{%>
                <li class="nav-item">
              <%}%>
                <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house-chimney"></i> Home</a>
                </li>

              <!-- ABOUT PAGE -->
              <% if(title=="Home"){%>
                <li class="nav-item active">
              <%}else{%>
                <li class="nav-item">
              <%}%>
                <a class="nav-link active" aria-current="page" href="/about"><i class="fa-solid fa-address-card"></i> About Me</a>
                </li>

              <!-- PROJECT PAGE -->
              <% if(title=="Home"){%>
                <li class="nav-item active">
              <%}else{%>
                <li class="nav-item">
              <%}%>
                <a class="nav-link active" aria-current="page" href="/project"><i class="fa-solid fa-diagram-project"></i> Projects</a>
                </li>

              <!-- SERVICE PAGE -->
              <% if(title=="Home"){%>
                <li class="nav-item active">
              <%}else{%>
                <li class="nav-item">
              <%}%>
                <a class="nav-link active" aria-current="page" href="/service"><i class="fa-brands fa-servicestack"></i> Services</a>
                </li>

              <!-- CONTACT PAGE -->
              <% if(title=="Home"){%>
                <li class="nav-item active">
              <%}else{%>
                <li class="nav-item">
              <%}%>
                <a class="nav-link active" aria-current="page" href="/contact"><i class="fa-solid fa-address-book"></i> Contact Me</a>
                </li>
                
          </ul>                
        </div>
      </div>
    </div>
  </div>
 </nav>